* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 30%;
  margin: auto;
}

#title {
  text-align: center;
  color: 	#275a2b;
  font-size: 3em;
  padding-top: 2rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

#subtitle {
  text-align: center;
  color: #048539;
  font-size: 2em;
  font-weight: bold;
}

.touch img {
  margin: 20px auto;
  height: 40px;
  width: 50px;
  
}

.touch:hover {
  transform:translateY(10px);
  transition: all ease 1.5s;
}

.slider {
  flex: 1;
  overflow: hidden;
}

.slidershow {
  height: 100vh;
  width: 100%;
  transition:  all ease 1.5s;
  background: url(../images/capa.jpg);
}

.item1 {
  background-image: url(../images/capa.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  transition:  all ease 1.5s;
}

.item2 {
  background-image: url(../images/capa2.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  transition:  all ease 1.5s;
}

.item3 {
  background-image: url(../images/capa3.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  transition:  all ease 1.5s;
}

#capfooter {
  background-color: #0925047a;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.capnav {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 5px solid 	#32f864;
  background-color: #052c01;
  margin: 20px;
  cursor: pointer;
}

.capnav:hover {
  border: 5px solid 	#93be9e;
  background-color: #107006;
}

#paises {
  width: 100%;
  background-color: #393d3a;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  height: 80vh;
}

.controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  height: inherit;
}

.controls div {
  height: inherit;
  
  width: 5%;
  display: flex;
  align-items: center;

}

.controls img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

#container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 0 40px;
}

.container_paises {
  margin: 50px 60px;
  text-align: center;
}

.container_paises h4 {
  font-size: 2em;
  margin: 15px 0px;
}

.container_paises img {
  margin: 0px;
  padding: 0px;
  width: 300px;
  border: 10px solid gray;
}

#info_container {
  display: flex;
  
  background-color: rgb(134, 134, 134);
}

.info_fig {
  width: 50%;
  height: inherit;
  margin: 30px 100px;
}

.info_img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 15px solid rgb(68, 68, 68);
}

#info {
  width: 50%;
  margin: 30px 100px;
}

.info_title {
  color: white;
  font-size: 3em;
}

.info_text {
  margin-top: 20px;
  color: white;
}

#colapse {
  
  width: 100%;
  
  display: flex;
  background-color: rgb(160, 158, 158);
}

#colapse_container {
  width: 80%;
  margin: auto;
  background-color: gray;
  border-radius: 5px;
}

.colapse_iten {
  width: 100%;
  border-radius: 5px;
  
  border-bottom: 1px solid black;
  

}

.colapse_menu {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  box-shadow: 0px 15px 50px 0px  gray;
  
}

.colapse_title {
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

}



.colapse_content {
 
  background-color: white;


}

.colapse_img {
  width: 300px;
  height: 200px;
  border: 10px solid gray;
  margin: 30px;
}
